{% extends 'base/base.html' %}
{% load staticfiles %}
{% load recaptcha2 %}

{% block title %}
    Confirmar pago
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
    <link rel="stylesheet" href="{% static 'base/css/jquery.steps.css' %}">

    <style>
        .wizard > .content,
        .wizard > .steps .disabled a,
        .wizard > .steps .disabled a:hover,
        .wizard > .steps .disabled a:active {
            background-color: #fff;
        }
    </style>

    {% recaptcha_init %}
{% endblock %}


{% block content %}
    {% if valido %}
        <div class="container">
            <div class="row">
                <form action="" id="form-conf" method="post" ENCTYPE="multipart/form-data">
                    {% csrf_token %}
                    <h2>Configura los datos de tu empresa.</h2>
                    <fieldset>
                        <input type="hidden" name="codigo2" value="{{ codigo }}"/>
                        <input type="hidden" name="nuevo" value={{ nuevo }}/>

                        <h2>Configura los datos de tu empresa.</h2>

                        <div class="form-group">
                            <label for="">Nombre de la empresa (Requerido)</label>
                            <input class="form-control" type="text" name="nombre_empresa"
                                   id="nombre_empresa" autofocus
                                   value="{{ datos.nombre }}" required/>
                        </div>

                        <div class="form-group">
                            <label for="">Teléfono (Requerido)</label>
                            <input class="form-control" type="text" name="telefono_empresa"
                                   id="telefono_empresa" maxlength="16"
                                   value="{{ datos.telefono }}" required/>
                        </div>

                        <div class="form-group">
                            <label for="">Dirección</label>
                            <input class="form-control" type="text" name="ubicacion_empresa"
                                   id="ubicacion_empresa"
                                   value=""/>
                        </div>

                        <div class="form-group">
                            <label for="">Logo</label>
                            <input class="form-control" type="file" name="logo_empresa"
                                   id="logo_empresa"
                                   value="{{ datos.logo }}"/>
                        </div>
                    </fieldset>
                    <h2>Crea una cuenta de administrador</h2>
                    <fieldset>
                        <h2>Crea una cuenta de administrador</h2>

                        <div class="form-group">
                            <label for="">Email</label>
                            <input class="form-control" type="email" name="email_creador"
                                   id="email_creador"
                                   value="{{ datos.correo }}" required/>
                        </div>

                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input class="form-control" type="password" name="pass_creador"
                                   id="pass_creador" required/>
                        </div>
                        <div class="form-group">
                            <label for="">Confirma tu contraseña</label>
                            <input class="form-control" type="password" name="pass_creador2" id="pass_creador2"
                                   required/>
                        </div>
                    </fieldset>
                    <h2>Asigna monitores</h2>
                    <fieldset>
                        <h2>Asigna monitores</h2>

                        {% for monitor in monitores %}
                            <div class="form-group">
                                <label for="">Correo Monitor {{ forloop.counter }}</label>
                                {% if monitor == None %}
                                    <input class="form-control input-monitor" type="email"
                                           name="email_monitores"
                                           id=""/>
                                {% else %}
                                    {{ monitor.email }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <h2>¡Listo!</h2>
                    <fieldset>
                        <div class="text-center">
                            <i class="fa fa-check-circle text-success fa-5x"></i>

                            <h1>¡Listo!</h1>
                        </div>
                    </fieldset>

                    {% comment %}
                    <div class="col-xs-12">
                        <div class="slick-container">
                            <div class="slick">
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered">
                                        <div class="well">

                                            <input type="hidden" name="codigo2" value="{{ codigo }}"/>
                                            <input type="hidden" name="nuevo" value={{ nuevo }}/>

                                            <h2>Configura los datos de tu empresa.</h2>

                                            <div class="form-group">
                                                <label for="">Nombre de la empresa (Requerido)</label>
                                                <input class="form-control" type="text" name="nombre_empresa"
                                                       id="nombre_empresa" autofocus
                                                       value="{{ datos.nombre }}" required/>
                                            </div>

                                            <div class="form-group">
                                                <label for="">Teléfono (Requerido)</label>
                                                <input class="form-control" type="text" name="telefono_empresa"
                                                       id="telefono_empresa"
                                                       value="{{ datos.telefono }}" required/>
                                            </div>

                                            <div class="form-group">
                                                <label for="">Dirección</label>
                                                <input class="form-control" type="text" name="ubicacion_empresa"
                                                       id="ubicacion_empresa"
                                                       value=""/>
                                            </div>

                                            <div class="form-group">
                                                <label for="">Logo</label>
                                                <input class="form-control" type="file" name="logo_empresa"
                                                       id="logo_empresa"
                                                       value="{{ datos.logo }}"/>
                                            </div>

                                            <span class="btn btn-info btn-next">Siguiente</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick">
                            <div class="row row-centered">
                                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered">
                                    <div class="well">
                                        <h2>Crea una cuenta de administrador</h2>

                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input class="form-control" type="email" name="email_creador"
                                                   id="email_creador"
                                                   value="{{ datos.correo }}" required/>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Contraseña</label>
                                            <input class="form-control" type="password" name="pass_creador"
                                                   id="pass_creador" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Confirma tu contraseña</label>
                                            <input class="form-control" type="password" name="pass_creador2" id="pass_creador2"
                                                   required/>
                                        </div>

                                        <span class="btn btn-info btn-next">Siguiente</span>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="slick">
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered">
                                        <div class="well">
                                            <h2>Asigna monitores</h2>

                                            {% for monitor in monitores %}
                                                <div class="form-group">
                                                    <label for="">Correo Monitor {{ forloop.counter }}</label>
                                                    {% if monitor == None %}
                                                        <input class="form-control input-monitor" type="email"
                                                               name="email_monitores"
                                                               id=""/>
                                                    {% else %}
                                                        {{ monitor.email }}
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            <span class="btn btn-info btn-next">Siguiente</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick">
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered">
                                        <div class="well text-center">
                                            <i class="fa fa-check-circle text-success fa-5x"></i>

                                            <h1>¡Listo!</h1>
                                            <button type="submit" class="btn btn-success btn-submit">Finalizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="btn btn-warning btn-validate">Validar</span>
                    </div>
                    {% endcomment %}
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                    <div class="alert alert-success">
                        <p>
                            Al realizar el pago de un paquete, enviaremos un código de confirmación vía email
                            al correo indicado en el contacto.
                        </p>
                    </div>

                    <div class="well">

                        {% if error %}
                            <div class="alert alert-danger">
                                <p class="font-bold">{{ error }}</p>
                            </div>
                        {% endif %}
                        <p class="text-danger font-bold">{{ error2 }}</p>

                        <form method="post">
                            {% csrf_token %}
                            {% for field in codigo_form %}
                                <div class="form-group">
                                    <label for="">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>-->
    <script src="{% static 'base/js/jquery.steps.min.js' %}"></script>

    <script src="{% static 'base/js/jquery.mask.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('input[name="telefono_empresa"]').mask('0###-#');
            $('input#id_codigo').focus();
        });
    </script>

    <script>
        var form = $("#form-conf").show();

        var validate_config = {
            errorElement: "label",
            errorClass: 'text-danger',
            errorPlacement: function (error, element) {
                $errorPlace = element.closest('div.form-group');
                // $errorPlace.addClass('has-error');
                error.appendTo($errorPlace);
            },
            rules: {
                "nombre_empresa": {
                    minlength: 4,
                    required: true
                },
                "telefono_empresa": {
                    required: true,
                    minlength: 8,
                    maxlength: 16
                },
                "email_creador": {
                    required: true,
                    email: true
                },
                "pass_creador": {
                    required: true,
                    minlength: 6
                },
                "pass_creador2": {
                    required: true,
                    minlength: 6,
                    equalTo: "#pass_creador"
                },
                email_monitores:{
                    require_from_group:[1, ".input-monitor"]
                }
            },
            messages: {
                "nombre_empresa": {
                    required: "Debes ingresar el nombre de tu empresa",
                    minlength: "El nombre debe contener al menos 4 caracteres"
                },
                "telefono_empresa": {
                    required: "Debes ingresar un teléfono de contacto de tu empresa",
                    minlength: "El teléfono debe contener al menos 8 caracteres",
                    maxlength: "El teléfono debe contener máximo 16 caracteres"
                },
                "email_creador": {
                    required: "Debes ingresar un correo de administrador"
                },
                "pass_creador": {
                    required: "Es necesario crear una contraseña",
                    minlength: "La contraseña debe contener al menos 6 caracteres"
                },
                "pass_creador2": {
                    required: "Es necesario repetir la contraseña",
                    minlength: "La contraseña debe contener al menos 6 caracteres",
                    equalTo: "Las contraseñas no coinciden"
                },
                "email_monitores": {
                    require_from_group: "Por favor, ingresa al menos un email"
                }
            }
        };

        form.steps({
            headerTag: "h2",
            bodyTag: "fieldset",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex)
            {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex)
                {
                    return true;
                }
                // Forbid next action on "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age-2").val()) < 18)
                {
                    return false;
                }
                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    form.find(".body:eq(" + newIndex + ") label.error").remove();
                    form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                }
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {
                // Used to skip the "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
                {
                    form.steps("next");
                }
                // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3)
                {
                    form.steps("previous");
                }
            },
            onFinishing: function (event, currentIndex)
            {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex)
            {
                form.submit();
            }
        }).validate(validate_config);
    </script>

    {% comment %}
    <script>

        var validate_config = {
            errorElement: "label",
            errorClass: 'text-danger',
            errorPlacement: function (error, element) {
                $errorPlace = element.closest('div.form-group');
                // $errorPlace.addClass('has-error');
                error.appendTo($errorPlace);
            },
            rules: {
                "nombre_empresa": {
                    minlength: 4,
                    required: true
                },
                "telefono_empresa": {
                    required: true,
                    minlength: 8
                },
                "email_creador": {
                    required: true,
                    email: true
                },
                "pass_creador": {
                    required: true
                },
                "pass_creador2": {
                    required: true,
                    equalTo: "#pass_creador"
                },
                email_monitores: [1, ".input-monitor"]
            },
            messages: {
                "nombre_empresa": {
                    required: "Debes ingresar el nombre de tu empresa",
                    minlength: "El nombre debe contener al menos 4 caracteres"
                },
                "telefono_empresa": {
                    required: "Debes ingresar un teléfono de contacto de tu empresa",
                    minlength: "El teléfono debe contener al menos 8 caracteres"
                },
                "email_creador": {
                    required: "Debes ingresar un correo de administrador"
                },
                "pass_creador": {
                    required: "Es necesario crear una contraseña"
                },
                "pass_creador2": {
                    required: "Es necesario repetir la contraseña",
                    equalTo: "Las contraseñas no coinciden"
                },
                "email_monitores": {
                    required: "Al menos un correo"
                }
            }/*,
            submitHandler: function (form) {
                var f = form.validate(validate_config);
                if(f.valid()){
                    alert('valid');
                    // $(form).submit();
                }
            }*/
        };

        $('.slick-container').slick({
            dots: true,
            infinite: false,
            speed: 300,
            nextArrow: false,
            accessibility: false,
            swipe: false,
            touchMove: false,
            slidesToShow: 1,
            draggable: false,
            focusOnSelect: false,
            arrows: false,
            adaptiveHeight: false,
            variableWidth: false
        });

        $('.btn-next').click(function () {
            var f = $("#form-conf").validate(validate_config);
            if(f.valid()) {
                $('.slick-container').delay(200).slick('slickNext');
            }
        });

        /*
        $('.btn-submit').click(function () {
            $(this).closest('form').submit();
        });
        */

        $('.btn-validate').click(function () {
            var f = $("#form-conf").validate(validate_config);
            console.log(f.valid());
        });

        $().ready(function () {
            //validation rules
            $("#form-conf").validate(validate_config);
        });

        /*
        $("#form-conf").on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();
        });
        */

    </script>
    {% endcomment %}
{% endblock %}