{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Nuestros planes {% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="jumbotron">
                    <h1>Bienvenido a Karussa</h1>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row row-centered">
                    {% for plan in planes %}
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-centered text-center">
                            <form method="POST" name="paquete_form">
                            {% csrf_token %}
                                <div class="well">
                                    <h2>{{ plan.titulo }}</h2>

                                    <p class="">{{ plan.cantidad_videos }} videos,
                                        {{ plan.monitores }} monitores <a href="#" data-toggle="tooltip" title="Los monitores llevan el control de las rutinas de los usuarios"><i class="fa fa-question-circle"></i></a>,
                                        {{ plan.cantidad }} usuarios:</p>

                                    <div class="form-group">
                                        <button type="submit" value="{{ plan.id }}" name="plan_seleccionado"
                                                class="btn btn-primary btn-block">Seleccionar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
