{% extends "base/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="#">
            Inicio
        </a>
    </div>
{% endblock %}

{% block content %}

    <p>Gracias por visitar karussa.</p>
    <p><a href="{% url 'usuarios_app:login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
