{% extends "base/base_no_sidebar.html" %}

{% load staticfiles %}

{% block title %}
    Cambio de contraseña
{% endblock %}

{% block styles %}
    <style>
        #page-wrapper {
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row m-t-xl">
        <div class="col-xs-6">
            <div class="animated fadeInDown p-lg">
                <h2 class="font-bold m-b-lg">Cambio de contraseña</h2>

                <p class="font-bold"> Olvidaste tu password ?</p>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <div class="form-group">
                        <p>Escribe tu correo con el que te registraste:</p>
                        <input class="form-control" type="email" autofocus name="email" required/>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Reiniciar mi contraseña"/>
                </form>
            </div>
        </div>
    </div>



{% endblock %}


