{% extends "base/base_no_sidebar.html" %}

{% block styles %}
    <style>
        #page-wrapper {
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block title %}
    Recuperacion de contraseña Exitoso
{% endblock %}

{% block content %}

    <div class="row m-t-xl">
        <div class="col-xs-8">
            <div class="animated fadeInDown p-lg">
                <h2 class="font-bold m-b-lg"><span class="text-info"><i class="fa fa-check m-l-sm"></i></span> Cambio de
                    contraseña exitoso </h2>

                <p>Tu cambio de contraseña ha sido exitoso.</p>
                <a href="{% url 'usuarios_app:login' %}" class="btn btn-success">Inicia sesión con tu nueva
                    contraseña</a>
            </div>
        </div>
    </div>


{% endblock %}
