{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Crear empresa
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="well">
            <div class="row">
                <form action="{% url 'superuser_app:crear_empresa' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="col-md-6">
                        <div class="form-group">
                            {{ field.label }}
                            {{ field }}
                        </div>
                        </div>
                    {% endfor %}
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Crear
                            empresa
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}