{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Crear paquete
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'superuser/css/style.css' %}">
{% endblock %}


{% block content %}
    <div class="hidden">
        <div class="video" id="video-base">
            <i class="fa fa-times text-muted pull-right pointer borrar-video"></i>
            <p><i class="fa fa-video-camera"></i>: <span class="video-titulo"></span></p>
            <p><i class="fa fa-clock-o"></i>: <span class="video-hora"></span></p>
            <input type="hidden" name="dia">
            <input type="hidden" name="hora">
            <input type="hidden" name="video">
        </div>
        <div class="col-xs-12 div-semana" id="div-semana-base">
            <h4>Semana <span class="id-semana">1</span>:</h4>
            <div class="well semana" data-semana="">
                <i class="fa fa-times text-muted pull-right pointer borrar-semana"
                   style="display:none;"></i>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                        <div class="col-dia" data-col-dia="lunes">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="lunes_activo" checked> Lunes
                                </label>
                            </div>
                            <div class="videos">
                                <!-- Aqui van los cuadros de los videos -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                        <hr class="visible-xs">
                        <div class="col-dia" data-col-dia="martes">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="martes_activo" checked> Martes
                                </label>
                            </div>
                            <div class="videos">
                                <!-- Aqui van los cuadros de los videos -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                        <hr class="visible-xs">
                        <div class="col-dia" data-col-dia="miercoles">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="miercoles_activo" checked> Miércoles
                                </label>
                            </div>
                            <div class="videos">
                                <!-- Aqui van los cuadros de los videos -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                        <hr class="visible-xs">
                        <div class="col-dia" data-col-dia="jueves">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="jueves_activo" checked> Jueves
                                </label>
                            </div>
                            <div class="videos">
                                <!-- Aqui van los cuadros de los videos -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                        <hr class="visible-xs">
                        <div class="col-dia" data-col-dia="viernes">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="viernes_activo" checked> Viernes
                                </label>
                            </div>
                            <div class="videos">
                                <!-- Aqui van los cuadros de los videos -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2">
                        <hr class="visible-xs">
                        <div class="col-dia" data-col-dia="sabado">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="sabado_activo"> Sábado
                                </label>
                            </div>
                            <div class="videos">
                                <!-- Aqui van los cuadros de los videos -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn btn-info btn-agregar-video pull-right" style="margin-top: 10px;"
                              data-remodal-target="modal-agregar-video-1">Agregar video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="form-crear-paquete">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Crea un nuevo paquete</h1>
                </div>
                <div class="col-sm-4" style="margin-top: 25px;">
                    <span class="btn btn-success btn-block btn-guardar-paquete pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Guardar cambios</span>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-sm-6">
                    <label for="select-plan-base" class="text-right">Plan
                        base:</label>
                    <div class="input-group">
                        <select name="plan_base" class="form-control" id="select-plan-base" required>
                            {% for plan in planes %}
                                <option value="{{ plan.id }}">{{ plan.id }}: {{ plan.titulo }}</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-btn">
                            <a href="{% url 'superuser_app:crear_plan' %}" target="_blank" class="btn btn-success"><i
                                    class="fa fa-plus"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="select-empresa">Empresa</label>
                    <div class="input-group">
                        <select name="empresa" class="form-control" id="select-empresa" required>
                            {% for empresa in empresas %}
                                <option value="{{ empresa.id }}">{{ empresa.id }}: {{ empresa.nombre }}
                                    ({{ empresa.correo }})
                                </option>
                            {% endfor %}
                        </select>
                        <span class="input-group-btn">
                            <span class="btn btn-success"><i class="fa fa-plus"></i></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="input-cantidad-usuarios">Cantidad de usuarios</label>
                        <input name="cantidad_usuarios" type="text" class="form-control" value="10"
                               id="input-cantidad-usuarios"
                               required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="input-cantidad-monitores">Cantidad de Monitores</label>
                        <input name="cantidad_monitores" type="text" class="form-control" value="2"
                               id="input-cantidad-monitores"
                               required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="input-duracion">Duración del paquete (días)</label>
                        <input name="duracion" type="text" class="form-control" id="input-duracion" value="30" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="input-fecha-inicio">Fecha de inicio</label>
                        <div id="datepicker-fecha-inicio" class="input-group date">
                            <input name="fecha_inicio" type="text" id="input-fecha-inicio" required
                                   data-format="yyyy-MM-dd" class="form-control" readonly>
                            <span class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-semanas">
                <div class="col-xs-12 div-semana">
                    <h4>Semana <span class="id-semana">1</span>:</h4>
                    <div class="well semana" data-semana="1">
                        <i class="fa fa-times text-muted pull-right pointer borrar-semana"
                           style="display:none;"></i>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                                <div class="col-dia" data-col-dia="lunes">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="lunes_activo" checked> Lunes
                                        </label>
                                    </div>
                                    <div class="videos">
                                        <!-- Aqui van los cuadros de los videos -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                                <hr class="visible-xs">
                                <div class="col-dia" data-col-dia="martes">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="martes_activo" checked> Martes
                                        </label>
                                    </div>
                                    <div class="videos">
                                        <!-- Aqui van los cuadros de los videos -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                                <hr class="visible-xs">
                                <div class="col-dia" data-col-dia="miercoles">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="miercoles_activo" checked> Miércoles
                                        </label>
                                    </div>
                                    <div class="videos">
                                        <!-- Aqui van los cuadros de los videos -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                                <hr class="visible-xs">
                                <div class="col-dia" data-col-dia="jueves">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="jueves_activo" checked> Jueves
                                        </label>
                                    </div>
                                    <div class="videos">
                                        <!-- Aqui van los cuadros de los videos -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2 b-r">
                                <hr class="visible-xs">
                                <div class="col-dia" data-col-dia="viernes">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="viernes_activo" checked> Viernes
                                        </label>
                                    </div>
                                    <div class="videos">
                                        <!-- Aqui van los cuadros de los videos -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <hr class="visible-xs">
                                <div class="col-dia" data-col-dia="sabado">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="sabado_activo"> Sábado
                                        </label>
                                    </div>
                                    <div class="videos">
                                        <!-- Aqui van los cuadros de los videos -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                            <span class="btn btn-info btn-agregar-video pull-right" style="margin-top: 10px;"
                                  data-remodal-target="modal-agregar-video-1">Agregar video</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 40px;">
                <div class="col-xs-12">
                    <h4 class="pull-right" id="btn-agregar-semana"><a href="javascript:void(0);">Agregar nueva
                        semana</a></h4>
                </div>
            </div>
        </div>
    </form>
    <div class="remodal" data-remodal-id="modal-agregar-video-1"
         data-remodal-options="closeOnConfirm: false">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h3>Agregar video a la lista</h3>
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-video" class="control-label">Video: </label>
                    <select name="video_seleccionado" class="form-control"
                            id="select-video">
                        {% for video in videos %}
                            <option value="{{ video.id }}">
                                {{ video.titulo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Día: </label>
                    <select name="dia_seleccionado" class="form-control"
                            id="select-dia">
                        <option value="lunes">Lunes</option>
                        <option value="martes">Martes</option>
                        <option value="miercoles">Miércoles</option>
                        <option value="jueves">Jueves</option>
                        <option value="viernes">Viernes</option>
                        <option value="sabado" disabled>Sábado</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Hora: </label>
                    <select name="hora_seleccionada" class="form-control"
                            id="select-hora">
                        <option value="10:00">10:00 am</option>
                        <option value="11:00">11:00 am</option>
                        <option value="12:00">12:00 am</option>
                        <option value="13:00">1:00 pm</option>
                        <option value="14:00">2:00 pm</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="modal-errors text-danger"></p>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancelar</button>
        <button data-remodal-action="confirm"
                class="remodal-confirm btn-modal-agregar-video">Agregar
        </button>
    </div>
    <div class="remodal" data-remodal-id="modal-agregar-video-2"
         data-remodal-options="closeOnConfirm: false">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h3>Agregar video a la lista</h3>
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-video" class="control-label">Video: </label>
                    <select name="video_seleccionado" class="form-control"
                            id="select-video">
                        {% for video in videos %}
                            <option value="{{ video.id }}">{{ video.titulo }}
                                - {{ video.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Día: </label>
                    <select name="dia_seleccionado" class="form-control"
                            id="select-dia">
                        <option value="lunes">Lunes</option>
                        <option value="martes">Martes</option>
                        <option value="miercoles">Miércoles</option>
                        <option value="jueves">Jueves</option>
                        <option value="viernes">Viernes</option>
                        <option value="sabado" disabled>Sábado</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Hora: </label>
                    <select name="hora_seleccionada" class="form-control"
                            id="select-hora">
                        <option value="10:00">10:00am</option>
                        <option value="11:00">11:00am</option>
                        <option value="12:00">12:00am</option>
                        <option value="13:00">1:00pm</option>
                        <option value="14:00">2:00pm</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="modal-errors text-danger"></p>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancelar</button>
        <button data-remodal-action="confirm"
                class="remodal-confirm btn-modal-agregar-video">Agregar
        </button>
    </div>
    <div class="remodal" data-remodal-id="modal-agregar-video-3"
         data-remodal-options="closeOnConfirm: false">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h3>Agregar video a la lista</h3>
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-video" class="control-label">Video: </label>
                    <select name="video_seleccionado" class="form-control"
                            id="select-video">
                        {% for video in videos %}
                            <option value="{{ video.id }}">{{ video.titulo }}
                                - {{ video.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Día: </label>
                    <select name="dia_seleccionado" class="form-control"
                            id="select-dia">
                        <option value="lunes">Lunes</option>
                        <option value="martes">Martes</option>
                        <option value="miercoles">Miércoles</option>
                        <option value="jueves">Jueves</option>
                        <option value="viernes">Viernes</option>
                        <option value="sabado" disabled>Sábado</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Hora: </label>
                    <select name="hora_seleccionada" class="form-control"
                            id="select-hora">
                        <option value="10:00">10:00am</option>
                        <option value="11:00">11:00am</option>
                        <option value="12:00">12:00am</option>
                        <option value="13:00">1:00pm</option>
                        <option value="14:00">2:00pm</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="modal-errors text-danger"></p>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancelar</button>
        <button data-remodal-action="confirm"
                class="remodal-confirm btn-modal-agregar-video">Agregar
        </button>
    </div>
    <div class="remodal" data-remodal-id="modal-agregar-video-4"
         data-remodal-options="closeOnConfirm: false">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h3>Agregar video a la lista</h3>
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-video" class="control-label">Video: </label>
                    <select name="video_seleccionado" class="form-control"
                            id="select-video">
                        {% for video in videos %}
                            <option value="{{ video.id }}">{{ video.titulo }}
                                - {{ video.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Día: </label>
                    <select name="dia_seleccionado" class="form-control"
                            id="select-dia">
                        <option value="lunes">Lunes</option>
                        <option value="martes">Martes</option>
                        <option value="miercoles">Miércoles</option>
                        <option value="jueves">Jueves</option>
                        <option value="viernes">Viernes</option>
                        <option value="sabado" disabled>Sábado</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
                <div class="form-group">
                    <label for="select-dia" class="control-label">Hora: </label>
                    <select name="hora_seleccionada" class="form-control"
                            id="select-hora">
                        <option value="10:00">10:00am</option>
                        <option value="11:00">11:00am</option>
                        <option value="12:00">12:00am</option>
                        <option value="13:00">1:00pm</option>
                        <option value="14:00">2:00pm</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="modal-errors text-danger"></p>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancelar</button>
        <button data-remodal-action="confirm"
                class="remodal-confirm btn-modal-agregar-video">Agregar
        </button>
    </div>

{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment-with-locales.min.js"></script>
    <script src="{% static 'base/js/bootstrap-datetimepicker.min.js' %}"></script>

    <script>

        $(function () {
            $('#datepicker-fecha-inicio').datetimepicker({
                locale: moment.locale('es'),
                format: 'YYYY-MM-DD',
                ignoreReadonly: true
            });
        });

        var cantidad_semanas = 1;

        $.fn.exists = function () {
            return this.length !== 0;
        };

        $('#select-plan-base').on('change', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'superuser_app:ajax_load_plan' %}",
                data: {'id_plan': $(this).val()},
                beforeSend: function () {
                    $.blockUI();
                },
                success: function (data) {
                    $.unblockUI();
                    // console.log(data);
                    var obj = JSON.parse(data);
                    iterate(obj);
                },
                error: function () {
                    $.unblockUI();
                }
            });
        });

        $(document).ready(function () {
            var json_plan_base = '{{ plan_base.jsonInfo|safe }}';
            var obj = JSON.parse(json_plan_base);
            iterate(obj);
        });

        function iterate(plan) {
            var $div_semana = $('.row-semanas > .div-semana');

            // Guadamos una copia de la estructura HTML

            // Limpiamos todas las semanas
            $div_semana.each(function () {
                $(this).remove();
            });

            cantidad_semanas = 0;

            for (var semana in plan) {
                // semana
                var $semana = $('#div-semana-base').clone();
                cantidad_semanas++;

                $semana.removeAttr('id');
                $semana.find('span.id-semana').text(cantidad_semanas);
                $semana.find('.semana').attr('data-semana', cantidad_semanas);
                $semana.find('.btn-agregar-video').attr('data-remodal-target', 'modal-agregar-video-' + cantidad_semanas);
                for (var video in plan[semana]) {
                    // video
                    var dia = plan[semana][video]['dia'];
                    var id_video = plan[semana][video]['video'];
                    var hora = plan[semana][video]['hora'];
                    var $video = $('#video-base').clone();
                    $video.find('.video-titulo').html(id_video);
                    $video.find('.video-hora').html(hora);
                    $video.find('input[name="dia"]').val(dia);
                    $video.find('input[name="hora"]').val(hora);
                    $video.find('input[name="video"]').val(id_video);
                    $semana.find('.col-dia[data-col-dia="' + dia + '"] > .videos').append($video);
                    // console.log(video, dia, id_video, hora);
                }
                $semana.appendTo('.row-semanas');
            }
        }

        $(document).on('click', '.borrar-video', function () {
            $(this).closest('.video').remove();
        });

        $(document).on('click', '.borrar-semana', function () {
            if (cantidad_semanas > 1) {
                var $div_semana = $(this).closest('.div-semana');
                $div_semana.remove();
                cantidad_semanas--;

                $('#btn-agregar-semana').show();

                $('.div-semana').each(function (index, element) {
                    $(element).find('.semana').attr('data-semana', index);
                    $(element).find('.id-semana').html(index);
                    $(element).find('.btn-agregar-video').attr('data-remodal-target', 'modal-agregar-video-' + index);
                });
            }
        });

        $(document).on('click', '#btn-agregar-semana', function () {
            var $div_semana = $('.div-semana').first().clone();
            // var $modal = $('.remodal').first().clone().appendTo('body');

            cantidad_semanas++;
            if (cantidad_semanas >= 4) {
                $(this).hide();
            }
            $('body, html').animate({scrollTop: $('#btn-agregar-semana').offset().top + 200}, 'fast');

            $div_semana.find('.semana').attr('data-semana', cantidad_semanas);
            $div_semana.find('.id-semana').html(cantidad_semanas);
            $div_semana.find('.borrar-semana').show();
            $div_semana.find('.btn-agregar-video').attr('data-remodal-target', 'modal-agregar-video-' + cantidad_semanas);
            $div_semana.find('.videos').empty();

            // $modal.attr('data-remodal-id', 'modal-agregar-video-'+cantidad_semanas);
            // $modal.find('.modal-errors').html('');

            $div_semana.appendTo('.row-semanas');
        });

        $(document).on('click', '.btn-modal-agregar-video', function () {
            var $modal = $(this).closest('.remodal');
            var id_semana = $modal.attr('data-remodal-id').slice(-1);
            var $div_video = $('#video-base').clone();
            var video = $modal.find('select[name="video_seleccionado"]').val();
            var dia = $modal.find('select[name="dia_seleccionado"]').val().toLowerCase();
            var hora = $modal.find('select[name="hora_seleccionada"]').val();

            // console.log(video, dia, hora);

            $div_video.removeAttr('id');
            $div_video.find('.video-titulo').text($modal.find('select[name="video_seleccionado"] > option:selected').text());
            $div_video.find('.video-hora').text($modal.find('select[name="hora_seleccionada"] > option:selected').text());

            $div_video.find('input[name="dia"]').val(dia);
            $div_video.find('input[name="hora"]').val(hora);
            $div_video.find('input[name="video"]').val(video);

            var $col = $('.semana[data-semana="' + id_semana + '"]').first().find('.col-dia[data-col-dia="' + $.camelCase(dia) + '"]');
            if ($col.find('.videos').first().find('.video').exists()) {
                var translape = false;
                var pos = 0;
                // console.log($(this).find('input[name="hora"]').val(), hora);
                $col.find('.video').each(function (index, element) {
                    if ($(element).children('input[name="hora"]').val() === hora) {
                        translape = true;
                        return false;
                    }
                    else if ($(element).children('input[name="hora"]').val() < hora) {
                        pos = index;
                    }
                });
                if (translape) {
                    $modal.find('.modal-errors').html('Ya existe un video en el mismo día a la misma hora');
                }
                else {
                    $col.find('.videos').append($div_video);
                    $modal.find('.modal-errors').html('');
                    $modal.remodal().close();
                }
            }
            else {
                $col.find('.videos').append($div_video);
                $modal.find('.modal-errors').html('');
                $modal.remodal().close();
            }

            var divs_ordenados = $col.find('.videos').first().find('.video').sort(function (a, b) {
                return $(a).find('input[name="hora"]').val() > $(b).find('input[name="hora"]').val();
            });
            $col.find('.videos').html(divs_ordenados);
        });

        $(document).on('change', '.col-dia > .checkbox input[type="checkbox"]', function () {
            var dia_activo = $(this).is(':checked');
            var dia = $(this).closest('.col-dia').attr('data-col-dia');

            var id_semana = $(this).closest('.semana').attr('data-semana');
            var $modal = $('.remodal[data-remodal-id="modal-agregar-video-' + id_semana + '"]');
            var $option = $modal.find('option[value="' + dia + '"]');
            var $videos = $(this).closest('.col-dia').find('.video');

            if (!dia_activo) {
                $option.attr('disabled', 'disabled');
                $videos.each(function () {
                    $(this).addClass('disabled');
                });
            }
            else {
                $option.removeAttr('disabled');
                $videos.each(function () {
                    $(this).removeClass('disabled');
                });
            }
        });

        $(document).on('click', '.btn-guardar-paquete', function () {
            var $form = $('#form-crear-paquete');
            $form.validate({
                errorElement: "label",
                errorClass: 'text-danger',
                rules: {
                    name: "required"
                }
            });
            if ($form.valid()) {
                var json = {};
                $('.row-semanas .semana').each(function () {
                    var id_semana = $(this).attr('data-semana');
                    var json_videos_semana = [];
                    $(this).find('.col-dia').each(function () {
                        var dia_activo = $(this).find('.checkbox').find('input[type="checkbox"]').is(':checked');
                        if (dia_activo) {
                            $(this).find('.videos > .video').each(function () {
                                var json_video = {};
                                json_video['dia'] = $(this).find('input[name="dia"]').val();
                                json_video['video'] = $(this).find('input[name="video"]').val();
                                json_video['hora'] = $(this).find('input[name="hora"]').val();
                                json_videos_semana.push(json_video);
                            });
                            json[id_semana] = json_videos_semana;
                        }
                    });
                });

                // console.log(json, JSON.stringify(json));

                $.blockUI();
                var data = {
                    'json': JSON.stringify(json),
                    'cantidad_usuarios': $('input[name="cantidad_usuarios"]').val(),
                    'cantidad_monitores': $('input[name="cantidad_monitores"]').val(),
                    'duracion': $('input[name="duracion"]').val(),
                    'fecha_inicio': $('input[name="fecha_inicio"]').val(),
                    'empresa': $('select[name="empresa"]').val()
                };
                $.ajax({
                    type: "POST",
                    url: '{% url 'superuser_app:crear_paquete' %}',
                    data: data,
                    success: function () {
                        $.unblockUI();
                        window.location.replace("{% url 'superuser_app:paquetes' %}");
                    },
                    error: function (xhr, errmsg, err) {
                        $.unblockUI();
                        // Show an error
                        // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }
        });
    </script>
{% endblock %}