{% extends 'base/base.html' %}

{% block title %}
    Administrador Karussa
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>¡Bienvenido {{ user.username }}!</h1>
                </div>
            </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h2>Empresas</h2>
                    <a href="{% url 'superuser_app:empresas' %}" class="btn btn-primary btn-block">Ver empresas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h2>Paquetes</h2>
                    <a href="{% url 'superuser_app:paquetes' %}" class="btn btn-primary btn-block">Ver paquetes</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h2>Planes</h2>
                    <a href="{% url 'superuser_app:crear_plan' %}" class="btn btn-primary btn-block">Crear nuevo
                        plan</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %}
    <div id="PlanNuevo">
        <form action="" method="post" name="FormPlanNuevo">
            <select name="planesDisponibles" id="planesDisponibles">
                {% if planesDisponibles %}
                    {% for plan in planesDisponibles %}
                        <option value="{{ plan.id }}">{{ plan.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay planes</option>
                {% endif %}
            </select>
            dias ejerecicio
            <br>
            lunes <input type="checkbox" name="lunes" id="lunes" checked>
            <select name="videosLunes" id="videosLunes">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            martes <input type="checkbox" name="martes" id="martes" checked>
            <select name="videosMartes" id="videosMartes">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            miercoles <input type="checkbox" name="miercoles" id="miercoles" checked>
            <select name="videosMiercoles" id="videosMiercoles">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            jueves <input type="checkbox" name="jueves" id="jueves" checked>
            <select name="videosJueves" id="videosJueves">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            viernes <input type="checkbox" name="viernes" id="viernes" checked>
            <select name="videosViernes" id="videosViernes">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            sabado <input type="checkbox" name="sabado" id="sabado">
            <select name="videosSabado" id="videosSabado">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            domingo <input type="checkbox" name="domingo" id="domingo">
            <select name="videosDomingo" id="videosDomingo">
                {% if videos %}
                    {% for video in videos %}
                        <option value="{{ video.id }}">{{ video.titulo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="0">No hay videos</option>
                {% endif %}
            </select>
            <br>
            <br>
            <button type="submit">Crear Nuevo Plan</button>
        </form>
    </div>
    <br>
    <br>
    <div id="videos_div">
        {{ form_video }}
    </div>
{% endcomment %}

{% endblock %}

{% block scripts %}



{% endblock %}
