{% extends 'base/base.html' %}

{% block title %}
    Actualiza tu contraseña
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-md-6 col-lg-5 col-centered">
                <div class="text-center">
                    <h2>Cambia tu contraseña</h2>
                    <p>Agrega una contraseña que puedas recordar posteriormente</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" name="Actualizar" class="btn btn-success btn-block">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $('input').each(function () {
                $(this).addClass('form-control input-lg');
            });
        });
    </script>
{% endblock %}

