{% extends 'base/base.html' %}

{% block title %}
    Usuario
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1>¡Bienvenido, {{ user }}!</h1>
                    <p>Que tengas un excelente día</p>
                    <input type="hidden" value="{{ slug }}" id="slg">
                </div>
            </div>
            <div class="col-md-4">
                {% if videos %}
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3>Videos del dia</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for video in videos %}
                                    <li class="list-group-item text-center">
                                        <p><b>Video: </b>{{ video.video.titulo }}</p>
                                        <p><b>Disponible: </b>de {{ video.inicia }} a {{ video.fin }}</p>
                                        {% if video.inicia <= hora and hora <= video.fin %}
                                            <form action={% url "videos_app:streaming_llave" video.llave %} method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-link btn-block btn-xs">
                                                    <i class="fa fa-play"></i>&nbsp;&nbsp;Reproducir video
                                                </button>
                                            </form>
                                        {% else %}
                                            <i class="fa fa-clock-o text-muted"></i>&nbsp;&nbsp;No disponible
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <h3>No hay videos hoy</h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
