{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}TEST notificaciones {% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Notificaciones prueba</h1>

                <!-- This is our list of notifications -->

                <ul id="notifications">
                    {% for notificacion in notificaciones %}
                        <li>{{ notificacion.user }} : {{ notificacion.message }}</li>
                    {% endfor %}
                </ul>
                <br>
            <input type="button" onclick="call_router_custom('send_two_messages','notifications')" value="send_two_messages">
            <br>
            <input type="button" onclick="getPeopleNamedJohn()" value="getPeopleNamedJohn">

            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}

{% endblock %}
