.row {
    /*overflow: hidden;*/
}

.row > [class*="col-"] {
    /*margin-bottom: -99999px;
    padding-bottom: 99999px;*/
}

.bootstrap-datetimepicker-widget {
    z-index: 100000 !important;
}

label.error {
    color: #e74c3c;
}

.b-r {
    border-right: 1px solid #e0e0e0;
}

.tabla-videos > .row > div:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}

.video {
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #3498db;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.video.disabled {
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

.video > p {
    margin: 5px 0;
}

.video.disabled > p {
    color: #9E9E9E;
}