<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2> {{ asunto }} </h2>
    <br>
    Tu código de confirmación es el siguiente :
    <p>{{ llave }}</p>
    Puedes entrar y configurar tu empresa desde la dirección:
    <h3>{{ url_accion }}</h3>
</body>
</html>

